{% extends "ap2.j2" %}

{% block summary %}
<p>Het applicatieprofiel ‘OSLO LDES’ is gebaseerd op de Europese Linked Data Event Stream specificatie en richt zicht op het interoperabel ontsluiten van data en de bijbehorende contextuele informatie. De LDES-specificatie laat toe een collectie van onveranderlijke objecten te beschrijven. Daarbij is het de bedoeling dat een afnemer elk item in de stroom kan repliceren om zo gesynchroniseerd te blijven met de bron als items worden toegevoegd. De beschrijving van de items in de event stream gebruikt de TREE specificatie die op zijn beurt compatibel is met onder andere specificaties als Solid, Activity Streams, DCAT-AP, LDP en Shape Trees. De LDES-specificatie laat tevens toe om via “retention policies” te beschrijven hoe ver in het verleden deze data bewaard blijven. 

Verder laat het applicatieprofiel ook toe om afgeleide datasets te beschrijven. Denk hierbij aan snapshots of versie-materialisaties en bijbehorende event streams. 
</p>
{% endblock %}

{% block status %}
<p>(Verwijder dit blok om een geautomatiseerde standaardparagraaf te laten verschijnen.)</p>
{% endblock %}
